# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
releases/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# local environment
.env*.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store
*.pem

# generated native folders
/ios
/android

# editor
.vscode/
